<div class="container">
  <div class="card mt-4">
    <div class="card-body">
      <h2 class="card-title">Add Policy Number</h2>
      <form [formGroup]="userPolicyForm" (ngSubmit)="onSubmit()" class="mt-4">
        <div class="form-group">
          <label for="policyNumber">Policy Number:</label>
          <input formControlName="policyNumber" type="number" id="policyNumber" name="policyNumber" class="form-control">
          <small *ngIf="userPolicyForm.get('policyNumber')?.invalid && (userPolicyForm.get('policyNumber')?.dirty || userPolicyForm.get('policyNumber')?.touched)"
            class="text-danger">
            Policy Number is required
          </small>
        </div>
        <div class="form-group mt-3">
          <label for="chassisNumber">Chassis Number:</label>
          <input formControlName="chassisNumber" type="text" id="chassisNumber" name="chassisNumber" class="form-control">
          <small *ngIf="userPolicyForm.get('chassisNumber')?.invalid && (userPolicyForm.get('chassisNumber')?.dirty || userPolicyForm.get('chassisNumber')?.touched)"
            class="text-danger">
            Chassis Number is required
          </small>
        </div>
        <div class="text-center mt-3">
          <button type="submit" class="btn btn-dark" [disabled]="userPolicyForm.invalid">Add Policy Number</button>
        </div>
      </form>
    </div>
  </div>
</div>
