<div class="container mt-4">
  <h3>Select Policy Number</h3>
  <div class="row">
      <div class="col-md-4">
          <ng-container *ngIf="policyNumbers.value && policyNumbers.value.length > 0; else noPolicyNumbers">
              <select [(ngModel)]="selectedPolicyNumber" (change)="onPolicyNumberSelected()" class="form-control" placeholder="Select a Policy Number">
                  <option *ngFor="let policy of policyNumbers.value" [value]="policy.policyNumber">{{ policy.policyNumber }}</option>
              </select>
          </ng-container>
          <ng-template #noPolicyNumbers>
              <div class="alert alert-warning">
                  No policy numbers found.
              </div>
          </ng-template>
      </div>   
      <div class="col-md-4">
        <button class="btn btn-danger" (click)="onDeletePolicyNumber(selectedPolicyNumber)" [disabled]="!selectedPolicyNumber">Delete Policy Number</button>
      </div>
    </div>
  
    <div class="mt-4" *ngIf="selectedPolicyNumber">
      <h4>Coverage Details</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Coverage Name</th>
            <th>Coverage Code</th>
            <th>Effective Date</th>
            <th>Expiration Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coverage of coverageData.value">
            <td>{{ coverage.coverageName }}</td>
            <td>{{ coverage.covCd }}</td>
            <td>{{ coverage.effectiveDt | date }}</td>
            <td>{{ coverage.expirationDt | date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  